@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-dark-orange px-6 py-2 rounded-lg text-2xl;
  }
}

@layer utilities { 
  .main-grid {
    grid-template-rows: 1fr auto;
  }
  .pentagon {
    clip-path: polygon(0 0, 100% 0, 100% 83%, 77% 92%, 0 70%);
  }
}

html, body, #root {
  height: 100%;
}