@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-dark-orange px-6 py-2 rounded-lg text-2xl text-white;
  }
}

@layer utilities { 
  .main-grid {
    grid-template-rows: 1fr auto;
  }
  .pentagon {
    clip-path: polygon(0 0, 100% 0, 100% 83%, 77% 92%, 0 70%);
  }
  .list-item-background {
    background-image: linear-gradient(
      180deg,
      hsl(200deg 95% 14%) 28%,
      hsl(203deg 61% 19%) 60%,
      hsl(204deg 45% 23%) 71%,
      hsl(205deg 36% 27%) 78%,
      hsl(206deg 29% 31%) 82%,
      hsl(207deg 25% 35%) 86%,
      hsl(207deg 21% 39%) 89%,
      hsl(208deg 18% 43%) 92%,
      hsl(208deg 15% 46%) 94%,
      hsl(208deg 13% 50%) 95%,
      hsl(208deg 13% 54%) 96%,
      hsl(209deg 13% 58%) 97%,
      hsl(209deg 13% 62%) 98%,
      hsl(209deg 13% 66%) 99%,
      hsl(209deg 13% 70%) 99%,
      hsl(209deg 13% 75%) 100%,
      hsl(209deg 13% 79%) 100%,
      hsl(210deg 13% 83%) 100%,
      hsl(210deg 13% 87%) 100%,
      hsl(210deg 13% 91%) 100%,
      hsl(210deg 13% 96%) 100%,
      hsl(0deg 0% 100%) 100%
);
  }
}

html, body, #root {
  height: 100%;
}